In [4]:
# 시퀀스 자료 연결을 이용하여 I love Python, I love you, [1,2,3,4,5,6]으로 출력하시오
strdata1 = "I love " ; strdata2 = "Python" ; strdata3 = "you"
listdata1 = [1,2,3]; listdata2 = [4,5,6]

print(strdata1 + strdata2)
print(strdata1 + strdata3)
print(listdata1+listdata2)

I love Python
I love you
[1, 2, 3, 4, 5, 6]

In [5]:
# 슬라이싱을 이용하여 아래와 같이 출력하세요
strdata = "Time is money!!"

print(strdata[1:4])
print(strdata[:7])
print(strdata[9:])
print(strdata[:-3])
print(strdata[-3:])
print(strdata[:])
print(strdata[::2])

ime
Time is
oney!!
Time is mone
y!!
Time is money!!
Tm smny!

In [7]:
# 시원크 자료 반복 연결을 이용하여 아래와 같이 출력하세요

artist = "빅뱅"
sing = "뱅~"

print(f"{artist}이 부르는", end = ' ')
print(sing*3)

빅뱅이 부르는 뱅~뱅~뱅~

In [8]:
# 시퀀스 자료 크기를 구하세요
strdata1 = "I love python"
strdata2 = "나는 파이썬을 사랑합니다."
listdata = ["a","b","c", strdata1, strdata2]

print(len(strdata1))
print(len(strdata2))
print(len(listdata))

13
14
5

In [9]:
# listdata에 5,4가 각각 포함되어 있는지에 대하여 불린값으로 반환하는 코드를 작성하세요

listdata = [1,2,3,4]

if 4 in listdata:
    b1 = True
else:
    b1 = False
if 5 in listdata:
    b2 = True
else:
    b2 = False
    
print(b1, b2)

True False

In [11]:
# strdata "c", 1이 각각 포함되어 있는지에 대하여 불린값으로 반환하는 코드를 작성하세요
strdata = "abcde"

if "c" in strdata:
    b1 = True
else:
    b1 = False
if "1" in strdata:
    b2 = True
else:
    b2 = False
    
print(b1, b2)

True False

In [12]:
#정답예시
strdata = "abcde"

print("c" in strdata)
print("1" in strdata)

True
False

In [15]:
int_data = 10
bin_data = 0b10
oct_data = 0o10
hex_data = 0x10

print(int_data, bin_data, oct_data, hex_data)

10 2 8 16

In [16]:
i = 2; f = 4.1
print(i+f)

6.1

In [19]:
s1 = set([1,2,3,4,5,6])
s2 = set([4,5,6,7,8,9])

print(list(s1|s2))
print(list(s1&s2))

[1, 2, 3, 4, 5, 6, 7, 8, 9]
[4, 5, 6]

In [2]:
import pandas as pd

df1 = pd.DataFrame({"a" : [1,2,3], "b" : [4,5,6], "c" : [7,8,9]})
df1

   a  b  c
0  1  4  7
1  2  5  8
2  3  6  9

In [6]:
import numpy as np
df2 = pd.DataFrame(np.array([[1,2,3],[4,5,6],[7,8,9]]),
                   columns = ["a","b","c"])

df2

   a  b  c
0  1  2  3
1  4  5  6
2  7  8  9

In [7]:
data = np.array([(1,2,3),(4,5,6),(7,8,9)])
df3 = pd.DataFrame(data, columns = ["a","b","c"])
df3

   a  b  c
0  1  2  3
1  4  5  6
2  7  8  9